body {
    box-sizing: border-box;
    background: #E5E5E5;
}
ion-icon {
    width: 26px;
    height: 26px;
    margin-right: 22px;
}
.logo-batepapo > img {
    height: 53px;
    margin-left: 22px;
}
.header, .msg-box {
    height: calc(10vh);
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header {
    position: fixed;
    top:0;
    left:0;
    z-index: 300;
}
.msg-box {
    position: fixed;
    bottom: 0;
    left: 0;
}
.msgs-box {
    margin-left: 22px;
}
.campo-msg {
    margin-top: 65px;
    margin-bottom: 65px;
}
.forAll, .statusMsg, .privateMsg {
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    word-wrap: break-word;
}
.forAll {
    background-color: white;
}
.statusMsg {
    background-color: #DCDCDC;
}
.privateMsg {
    background-color: #FFDEDE;
}
.text {
    display: flex;
    word-wrap: break-word;
}
.timeProperty {
    color: #AAAAAA;
    padding: 10px;
}
input {
    border: none;
    height: 30px;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}
input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}
input:focus {
    outline:none;
}